<% if !@cancer_type.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @cancer_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div id="english_content_hidden" style="display: none;">
  <%= @cancer_type.description %>
</div>
<div id="content_hidden" style="display: none;">
  <%= @cancer_type.description_english %>
</div>
<div id="content-new-form">
  <%= form_for @cancer_type, url: cancer_type_edit_path(@cancer_type.id), method: :post do |f| %>
    <%= f.label :name, "Tên" %> </br>
    <%= f.text_field :name, class: "form-control" %> </br>

    <%= f.label :name, "Name" %> </br>
    <%= f.text_field :name_english, class: "form-control" %> </br>

    <%= f.label :is_common, "Phổ biến" %>
    <%= f.check_box :is_common, {checked: (@cancer_type.is_common == 1) ? true : false} %> </br>

    <%= f.label :description, "Mô tả" %> </br>
    <%= f.text_area :description, class: "content_editor" %> </br>

    <%= f.label :description_english, "Description" %> </br>
    <%= f.text_area :description_english, class: "content_editor" %> </br>

    <%= f.submit "Áp dụng", class: "btn btn-primary", id: "lesson_upload", data: {disable_with: "Đang tải lên..."} %>
    <script>
        var description = $("#content_hidden").text();
        var description_english = $("#english_content_hidden").text();
        CKEDITOR.on('instanceReady', function (ev) {
            CKEDITOR.instances['cancer_type[description]'].setData(content);
            CKEDITOR.instances['cancer_type[description_english]'].setData(description_english);
        });
        CKEDITOR.plugins.addExternal('imageuploader', '/ckeditor/plugins/imageuploader/', 'plugin.js');
        CKEDITOR.plugins.addExternal('imageuploader', '/ckeditor/plugins/uploadimage/', 'plugin.js');
        CKEDITOR.plugins.addExternal('imageuploader', '/ckeditor/plugins/image2/', 'plugin.js');
        CKEDITOR.replace('cancer_type[description]', {
            height: '600px',
            language: 'vi',

            stylesSet: [
                {name: 'Narrow image', type: 'widget', widget: 'image', attributes: {'class': 'image-narrow'}},
                {name: 'Wide image', type: 'widget', widget: 'image', attributes: {'class': 'image-wide'}}
            ],

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [CKEDITOR.basePath + 'contents.css', 'http://sdk.ckeditor.com/samples/assets/css/widgetstyles.css'],

        });
        CKEDITOR.replace('cancer_type[description_english]', {
            height: '600px',
            language: 'vi',

            stylesSet: [
                {name: 'Narrow image', type: 'widget', widget: 'image', attributes: {'class': 'image-narrow'}},
                {name: 'Wide image', type: 'widget', widget: 'image', attributes: {'class': 'image-wide'}}
            ],

            // Load the default contents.css file plus customizations for this sample.
            contentsCss: [CKEDITOR.basePath + 'contents.css', 'http://sdk.ckeditor.com/samples/assets/css/widgetstyles.css'],

        });

    </script>
  <% end %>
</div>