<div class="main-content" id="content" tabindex="0">


  <!-- PUBLIC ARCHIVE BANNER -->
  <div id="cgvPublicArchiveBannerSl" class="row collapse">
    <div class="contentid-172410 slot-item only-SI large-12 columns">

    </div>
  </div>
  <!-- END PUBLIC ARCHIVE BANNER -->

  <div class="row">

    <!-- PAGE TITLE -->
    <div class="large-7 columns">

      <!-- PAGE TITLE -->
      <h1><span>Cancer Types</span></h1>

      <!-- END PAGE TITLE -->

    </div>
    <!-- END PAGE TITLE -->
  </div>

  <!-- CARD CONTAINER -->
  <div id="nvcgSlBodyLayout" class="nvcgSlBodyLayout">
    <div class="contentid-919848 slot-item only-SI">
      <div class="rawHtml">
        <div class="row">
          <div class="large-12 columns">
            <p>Use the alphabet links to find and retrieve information about a particular type of cancer. (The A to Z
              list is also available <a href="/vi/types">in Vietnamese</a>.)</p>
            <div class="az-list">
              <ul>
                <% cancer_letters = @cancer_types_alphabetical.keys %>
                <% ('A'..'Z').each do |letter| %>
                  <% if cancer_letters.include?(letter) %>
                    <li><a href="#<%= letter.downcase %>"><%= letter %></a></li>
                  <% else %>
                    <li><%= letter %></li>
                  <% end %>
                <% end %>
              </ul>
            </div>
            <div class="callout-box-right">
              <p>There are more than 100 types of cancer. Types of cancer are usually named for the organs or tissues
                where the cancers form, but they also may be described by the type of cell that formed them. </p>
            </div>
            <% @cancer_types_alphabetical.each do |letter, cancer_types| %>
              <h3 id="<%= letter.downcase %>" tabindex="0"><%= letter %></h3>
              <ul class="cancer-list">
                <% cancer_types.each do |cancer_type| %>
                  <li><%= link_to cancer_type.name_english, cancer_type_detail_path(id: cancer_type.id) %></li>
                <% end %>
              </ul>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- END CARD CONTAINER -->

</div>