<div class="col-md-3">
  <div class="list-group">
    <a class="list-group-item" href="/"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Trang chủ</a>
    <a class="list-group-item active" href="/quan-ly"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; Danh mục</a>
    <a class="list-group-item" href="/sponsors"><i class="fa fa-money fa-fw" aria-hidden="true"></i>&nbsp; Tài trợ</a>
    <a class="list-group-item" href="/registrars"><i class="fa fa-list fa-fw" aria-hidden="true"></i>&nbsp; Danh sách
      đăng ký</a>
    <a class="list-group-item" href="/logout"><i class="fa fa-sign-out fa-fw" aria-hidden="true"></i>&nbsp; Đăng
      xuất</a>
  </div>
</div>

<div class="col-md-9">
  <% if !@content.errors.empty? %>
      <div class="alert alert-error">
        <ul>
          <% @content.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
  <% end %>

  <div class="checkbox">
    <input type="checkbox" id="sub-content-checkbox"><b>Có danh mục phụ không?</b></input>
  </div>

  <div id="subcontent-new-form" style="display:none" >
    <%= form_for :content, html: {multipart: true, id: "content_new_form"} do |f| %>
        <%= hidden_field_tag :has_subcontent, value: 'true' %>

        <%= f.label :title, "Tiêu đề" %> </br>
        <%= f.text_field :title, class: "form-control" %> </br>

        <%= f.label :english_title, "English title" %> </br>
        <%= f.text_field :english_title, class: "form-control" %> </br>

        <%= f.label :image, "Ảnh đại diện" %> </br>
        <%= f.file_field :image, accept: 'image/png,image/jpeg' %> </br> </br>

        <%= f.submit "Thêm tiêu đề phụ", class: "btn btn-primary", id: "lesson_upload", data: {disable_with: "Đang tải lên..."} %>
    <% end %>
  </div>

  <div id="content-new-form" >
    <%= form_for :content, html: {multipart: true, id: "content_new_form"} do |f| %>
        <%= f.label :title, "Tiêu đề" %> </br>
        <%= f.text_field :title, class: "form-control" %> </br>

        <%= f.label :english_title, "English title" %> </br>
        <%= f.text_field :english_title, class: "form-control" %> </br>

        <%= f.label :image, "Ảnh đại diện" %> </br>
        <%= f.file_field :image, accept: 'image/png,image/jpeg' %> </br> </br>

        <%= f.label :content, "Nội dung" %> </br>
        <%= f.text_area :content, class: "content_editor" %> </br>

        <%= f.label :english_content, "Content" %> </br>
        <%= f.text_area :english_content, class: "content_editor" %> </br>

        <%= f.submit "Áp dụng", class: "btn btn-primary", id: "lesson_upload", data: {disable_with: "Đang tải lên..."} %>
        <script>
            CKEDITOR.replace('content[content]', {
                height: '600px',
                language: 'vi'
            });
            CKEDITOR.replace('content[english_content]', {
                height: '600px',
                language: 'en'
            });
            CKEDITOR.editorConfig = function (config) {
                config.extraPlugins = 'imageuploader';
                config.language = 'en';
            }
        </script>
    <% end %>
  </div>
</div>