<div id="content-new-form">
  <%= form_for banner, url: (banner.new_record? ? banner_create_path : banner_update_path(banner.id)), method: :post do |f| %>
    <%= f.label :name, "Tên" %> </br>
    <%= f.text_field :name, class: "form-control" %> </br>

    <%= f.label :image, "Ảnh" %> </br>
    <%= f.file_field :image, class: "control" %> </br>

    <%= f.label :using, "Sử dụng" %>
    <%= f.check_box :using, {}, 1, 0 %> </br>

  <% end %>
</div>