<% if !@course.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @course.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>

  </div>
<% end %>

<div id="english_content_hidden" style="display: none;">
  <%= @course.description %>
</div>
<div id="content_hidden" style="display: none;">
  <%= @course.description_english %>
</div>
<div id="content-new-form">
  <%= form_for @course, url: course_edit_path(@course.id), method: :post do |f| %>
    <%= f.label :name, "Tên khóa học" %> </br>
    <%= f.text_field :name, class: "form-control" %> </br>

    <%= f.label :name_english, "Name of course" %> </br>
    <%= f.text_field :name_english, class: "form-control" %> </br>

    <%= f.label :description, "Mô tả" %> </br>
    <%= f.text_area :description, class: "content_editor" %> </br>

    <%= f.label :description_english, "Description" %> </br>
    <%= f.text_area :description_english, class: "content_editor" %> </br>

    <%= f.submit "Áp dụng", class: "btn btn-primary", id: "lesson_upload", data: {disable_with: "Đang tải lên..."} %>
    <script>
      var description = $("#content_hidden").text();
      var description_english = $("#english_content_hidden").text();
      CKEDITOR.on('instanceReady', function (ev) {
        CKEDITOR.instances['course[description]'].setData(content);
        CKEDITOR.instances['course[description_english]'].setData(description_english);
      });
      CKEDITOR.replace('course[description]', {
        height: '600px',
        language: 'vi',

        stylesSet: [
          {name: 'Narrow image', type: 'widget', widget: 'image', attributes: {'class': 'image-narrow'}},
          {name: 'Wide image', type: 'widget', widget: 'image', attributes: {'class': 'image-wide'}}
        ],

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [CKEDITOR.basePath + 'contents.css', 'http://sdk.ckeditor.com/samples/assets/css/widgetstyles.css'],

      });
      CKEDITOR.replace('course[description_english]', {
        height: '600px',
        language: 'vi',

        stylesSet: [
          {name: 'Narrow image', type: 'widget', widget: 'image', attributes: {'class': 'image-narrow'}},
          {name: 'Wide image', type: 'widget', widget: 'image', attributes: {'class': 'image-wide'}}
        ],

        // Load the default contents.css file plus customizations for this sample.
        contentsCss: [CKEDITOR.basePath + 'contents.css', 'http://sdk.ckeditor.com/samples/assets/css/widgetstyles.css'],

      });

    </script>
  <% end %>
</div>