<div class="error-model"></div>

<div id="content-new-form">
  <%= form_with model: @course, url: course_new_path, local: true do |f| %>
    <%= f.label :name, "Tên khóa học" %> </br>
    <%= f.text_field :name, class: "form-control" %> </br>

    <%= f.label :name_english, "Name of course" %> </br>
    <%= f.text_field :name_english, class: "form-control" %> </br>

    <%= f.label :description, "Mô tả" %> </br>
    <%= f.text_area :description, class: "content_editor" %> </br>

    <%= f.label :description_english, "Description" %> </br>
    <%= f.text_area :description_english, class: "content_editor" %> </br>

    <%= f.submit "Áp dụng", class: "btn btn-primary", id: "upload", data: {disable_with: "Đang tải lên..."} %>
    <script>
      CKEDITOR.replace('course[description]', {
        height: '600px',
        language: 'vi'
      });
      CKEDITOR.replace('course[description_english]', {
        height: '600px',
        language: 'en'
      });
      CKEDITOR.editorConfig = function (config) {
        config.extraPlugins = 'imageuploader';
        config.language = 'en';
      }
    </script>
  <% end %>
</div>