<!-- Begin MAIN CONTENT AREA -->
<div class="main-content" id="content" tabindex="0">
  <!-- HERO SLOT -->
  <div id="nvcgSlHeroHeader" class="row hero-slot">
    <div class="contentid-898668 slot-item only-SI large-12 columns hero">
      <div class="rawHtml">
<!--        <div class="row">-->
<!--          <div class="hero-text columns large-12">-->
<!--            <p>Viện ung thư quốc gia là trung tâm hàng đầu Việt Nam về nghiên cứu và điều trị ung thư</p></div>-->
<!--        </div>-->
        <picture>
          <!--            <source media="(max-width: 1024px)" srcset="/PublishedContent/Images/images/design-elements/heroes/Hero_image_home_tablet.__v1.jpg">-->
          <%= image_tag 'Hero_image_home_desktop.jpg' %>
        </picture>
      </div>
    </div>
  </div>
  <!-- END HERO SLOT -->

  <div class="row">


    <div class="page-options-container">
      <!-- PAGE OPTIONS -->
      <div id="PageOptionsControl1" class="large-5 columns page-options">
        <ul>
          <li class="po-print">
            <a title="Print" onclick="NCIAnalytics.PrintLink(this);" href="#"><%= image_tag 'spacer.gif', alt: 'Print' %></a>
          </li>
          <li class="po-facebook">
            <a class="addthis_button_facebook add_this_btn at300b" title="Facebook" onclick="NCIAnalytics.BookmarkShareClick(this);" href="#"><%= image_tag 'spacer.gif', alt: 'Facebook' %></a>
          </li>
          <li class="po-twitter">
            <a class="addthis_button_twitter add_this_btn at300b" title="Twitter" onclick="NCIAnalytics.BookmarkShareClick(this);" href="#"><%= image_tag 'spacer.gif', alt: 'Twitter' %></a>
          </li>
          <li class="po-googleplus">
            <a class="addthis_button_google_plusone_share add_this_btn at300b" title="Google+" onclick="NCIAnalytics.BookmarkShareClick(this);" href="#" target="_blank"><%= image_tag 'spacer.gif', alt: 'Google+' %></a>
          </li>
          <li class="po-pinterest">
            <a class="addthis_button_pinterest_share add_this_btn at300b" title="Pinterest" onclick="NCIAnalytics.BookmarkShareClick(this);" href="#" target="_blank"><%= image_tag 'spacer.gif', alt: 'Pinterest' %></a>
          </li>
        </ul>
      </div>

      <!-- END PAGE OPTIONS -->
    </div>
  </div>

  <!-- CARD CONTAINER -->
  <div id="nvcgSlBodyLayout" class="nvcgSlBodyLayout">
    <div class="contentid-896091 slot-item first-SI">

      <div class="feature-primary-title">
        <h3>
          Các tin nổi bật
        </h3>
      </div>
      <!-- BEGIN FEATURE PRIMARY CARDS ROW -->
      <div id="ctl33_nvcgSlLayoutFeatureA" class="row feature-primary flex-columns">
        <% @featured_news.each do |featured_news| %>

          <div class="slot-item first-SI equalheight large-4 columns card gutter">

            <div class="feature-card cgvTopicPage">

              <a href="<%= news_details_path(id: featured_news.id) %>">
                <div class="image-hover">
                  <img src="<%= featured_news.thumbnail.url %>" alt="" style="width: 100%;">
                </div>
                <p><%= featured_news.title %></p>
              </a>
            </div>

          </div>
        <% end %>

      </div>
    </div>
    <!-- END FEATURE PRIMARY CARDS CARDS ROW -->
  </div>
  <div class="contentid-896093 slot-item">

    <!-- BEGIN CARDS ROW -->
    <div class="accordion">
      <div id="ctl35_nvcgSlLayoutGuideB" class="nvcgSlLayoutGuideB row guide-card guide-card--home flex-columns">
        <div class="contentid-896094 slot-item first-SI equalheight large-4 columns card gutter">

          <h2 style="color: #069;">
            Đề tài nghiên cứu
          </h2>

          <ul>
            <% ResearchCategory.all.each do |category| %>
              <li><%= link_to category.name, research_category_path(id: category.id), class: "arrow-link-white" %></li>
            <% end %>
          </ul>

        </div>
        <div class="contentid-896095 slot-item equalheight large-4 columns card gutter">

          <h2 style="color: #069;">
            Giới thiệu
          </h2>

          <ul>
            <li>
              <a class="arrow-link" href="/about-us">Giới thiệu chung</a></li>
            <li>
              <a class="arrow-link" href="/about-us/responsibilities">Nhiệm vụ và chức năng</a>
            </li>
            <li>
              <a class="arrow-link" href="/person">Nhân sự</a>
            </li>
          </ul>

        </div>
        <div class="contentid-896096 slot-item last-SI equalheight large-4 columns card gutter">

          <h2 style="color: #069;">
            Tìm kiếm loại ung thư
          </h2>

          <ul class="cancer-types">
            <% alphabet_array = ['A', 'Ă', 'Â', 'B', 'C', 'D', 'Đ', 'E', 'Ê', 'G', 'H', 'I', 'K', 'L', 'M', 'N', 'O', 'Ô', 'Ơ', 'Q', 'R', 'S', 'T', 'U', 'Ư', 'V', 'X', 'Y'] %>
            <% alphabet_array.each do |letter| %>
              <% if @available_letters.include?(letter) %>
                <li><%= link_to letter, "/types/##{letter}" %></li>
              <% else %>
                <li><span><%= letter %></span></li>
              <% end %>
            <% end %>
          </ul>

        </div>
      </div>
    </div>
    <!-- END CARDS ROW -->
  </div>
<!--  <div class="contentid-1026939 slot-item">-->
  <!-- Begin Social Media row -->
<!--    <div class="rawHtml">-->

<!--      <div class="row social-media-title">-->
<!--        <h2>Mạng xã hội</h2>-->
<!--      </div>-->
<!--      <div class="social-media-row row">-->
<!--        <div class="social-media-card">-->
<!--          <div class="social-media-icon">-->
<!--            <a href="#"><%#= image_tag 'twitter-circle-icon.svg', alt: 'Twitter logo' %> </a>-->
<!--          </div>-->
<!--          <div class="social-media-text">-->
<!--            <h3>-->
<!--              <a href="#">Twitter</a>-->
<!--            </h3>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="social-media-card">-->
<!--          <div class="social-media-icon">-->
<!--            <a href="#"><%#= image_tag 'facebook-circle-icon.svg', alt: 'Facebook logo' %></a>-->
<!--          </div>-->
<!--          <div class="social-media-text">-->
<!--            <h3>-->
<!--              <a href="#">Facebook</a>-->
<!--            </h3>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="social-media-card">-->
<!--          <div class="social-media-icon">-->
<!--            <a href="#"><%#= image_tag 'linkedin-circle-icon.svg', alt: 'Linkedin logo' %></a>-->
<!--          </div>-->
<!--          <div class="social-media-text">-->
<!--            <h3>-->
<!--              <a href="#">LinkedIn</a>-->
<!--            </h3>-->

<!--          </div>-->
<!--        </div>-->
<!--        <div class="social-media-card">-->
<!--          <div class="social-media-icon">-->
<!--            <a href="#"><%#= image_tag 'instagram-circle-icon.svg', alt: 'Instagram logo' %></a>-->
<!--          </div>-->
<!--          <div class="social-media-text">-->
<!--            <h3>-->
<!--              <a href="#">Instagram</a>-->
<!--            </h3>-->

<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      </div>-->
  <!-- End Social Media row -->
<!--  </div>-->
  <div class="contentid-896097 slot-item">

    <!-- BEGIN MULTIMEDIA, SECONDARY FEATURE ROW -->
    <div class="multimedia-slot">
      <div class="row multimedia flex-columns">
        <div id="ctl39_nvcgSlLayoutMultimediaA" class="equalheight small-8 columns card">
          <div class="multimedia-feature-card $content_type">
            <figure class="video  ">
              <div id="ytplayer-mufb0Hx2438" class="flex-video widescreen" data-video-id="mufb0Hx2438">
                <iframe allowfullscreen="" src="https://www.youtube.com/embed/n18vcuTislQ" frameborder="0"></iframe>
              </div>
            </figure>
            <p>Thông tin về viện ung thư quốc gia.</p>
            <p></p>
          </div>
        </div>
        <div id="ctl39_nvcgSlLayoutFeatureB" class="equalheight small-4 columns card">
          <div class="contentid-941434 slot-item only-SI">

            <div class="feature-card cgvTopicPage">
              <a href="/person">
                <div class="image-hover">
                  <%= image_tag 'leadership.jpg', alt: "Lãnh đạo" %>
                </div>
                <h3>Ban lãnh đạo</h3>
                <p>Thông tin về các lãnh đạo đương nhiệm và tiền nhiệm của viện.</p>
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- BEGIN THUMBNAIL SECTION -->

    <!-- END THUMBNAIL SECTION -->
  </div>
  <div class="contentid-898670 slot-item last-SI">
    <div class="rawHtml">
      <div class="row carousel-title">
        <div class="large-6 columns">
          <h2 style="color: #069;">Đối tác</h2>
        </div>
        <div class="large-6 columns arrows arrows-for-other-nci-sites clearfix">
          <button type="button" class="previous">
            <span style="position: absolute; bottom: 0; right: 0; clip: rect(1px, 1px, 1px, 1px);">Previous</span>
          </button>
          <button type="button" class="next">
            <span style="position: absolute; bottom: 0; right: 0; clip: rect(1px, 1px, 1px, 1px);">Next</span>
          </button>
        </div>
      </div>
      <div class="row">
        <div class="large-12 columns">
          <div class="slider">
            <% partners = Partner.all %>
            <% if partners.length > 0 %>
              <% partners.each do |partner| %>
                <li>
                  <a href="
                      <% partner.website %>" class="container" style='
                  background-image: url("<%= partner.logo %>");
                      background-size:     cover;                      /* <------ */
                      background-repeat:   no-repeat;
                      background-position: center center;              /* optional, center the image */
                  '>
                    <p class="site-link"><%= partner.name %></p>
                  </a>
                </li>
              <% end %>
            <% else %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!-- END CARD CONTAINER -->

</div> <!-- End MAIN CONTENT AREA -->

<% if @banner %>
<!-- The popup modal -->
<div id="popupModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
<!--    <span class="close">&times;</span>-->
    <div><%= link_to image_tag(@banner.image.url), course_register_url, target: '_blank' %></div>
  </div>
  <style>
    /* The Modal (background) */
    .modal {
      display: block; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

    /* Modal Content/Box */
    .modal-content {
      width: 60%; /* Could be more or less, depending on screen size */
      margin: 0;
      position: absolute;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

    }

    /* Modal Content/Box */
    .modal-content img{
      margin: 0 auto;
      width: 100%;
      height: 100%;
    }

    /* The Close Button */
    .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
    }

    .close:hover,
    .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  </style>
</div>
<script>
  // Get the modal
  var modal = document.getElementById("popupModal");

  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
    if (event.target == modal) {
      modal.style.display = "none";
    }
  }
</script>
<% end %>