<div class="main-content" id="content" tabindex="0">
  <div class="row general-page-body-container collapse">
    <div class="large-12 columns">
      <div class="row">
        <div id="cgvSlBreadcrumb" class="medium-8 columns bcrumbs">
          <div class="contentid-870117 slot-item only-SI">
            <ul class="breadcrumbs">
              <li><%= link_to 'Home', root_path %></li>
              <li class="last-breadcrumb"><%= link_to 'News and event', news_path %></li>
            </ul>
          </div>
        </div>
      </div> <!-- END "row" -->
    </div> <!-- END "large-12 columns" -->
    <div class="row news">
      <div id="ctl32_nvcgSlLayoutGeneralA" class="large-8 columns card gutter">
        <div class="contentid-37163 slot-item first-SI">
          <div class="dynamic list has-images">
            <ul>
              <% if @news_arr.length == 0 %>
                <span>There's no document in this category.</span>
              <% end %>
              <% @news_arr.each do |news| %>
                <li class="general-list-item general list-item">
                  <div class="list-item-image image container">
                    <%= link_to image_tag(news.thumbnail.url), news_details_path(id: news.id), class: "item-image image" %>
                  </div>
                  <div class="title-and-desc title desc container">
                    <%= link_to news.title_english, news_details_path(id: news.id), class: "title" %>

                    <div class="description">
                      <div class="date"> <%= news.created_at.strftime("%d-%m-%Y") %></div>
                      <%= Nokogiri::HTML.parse(news.content_english).css('p').first.text.html_safe %>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
          <%= will_paginate @news_arr, class: "flickr_pagination" %>
          <div>
          </div>
        </div>
      </div>
      <div id="ctl32_nvcgSlLayoutGeneralB" class="large-4 columns gutter accordion">
        <div class="contentid-936279 slot-item last-SI">
          <div class="rawHtml"><!-- News Raw HTML - Archive -->
            <div class="row card">
              <h2>News archive</h2>
              <ul>
                <% news_by_year = News.all.order(created_at: :desc)
                    .group_by {|news| news.created_at.year} %>
                <% news_by_year.keys.each do |year| %>
                  <li>
                    <%= link_to year, news_filter_path(year: year) %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div> <!-- END "row general-page-body-container collapse" -->
</div>