<!DOCTYPE html>
<html id="htmlEl" class=" borderradius flexbox generatedcontent no-cssreflections textshadow csstransforms supports csstransforms3d csstransitions geolocation hashchange svg no-touchevents webworkers no-windows no-mac linux no-iphone no-ipad no-android" lang="en"><!-- NVCGHomePageTemplate.aspx  -->
<head id="header">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1, minimum-scale=1">
  <meta name="theme-color" content="#ffffff">

  <link href="https://fonts.googleapis.com/css?family=Roboto+Mono:400,700" rel="stylesheet">

  <link rel="canonical" href="/">
  <meta name="keywords" content="cancer,NCI,National Cancer Institute,cancer information">
  <meta name="description" content="Accurate, up-to-date, comprehensive cancer information from the U.S. government's principal agency for cancer research.">
  <meta name="content-language" content="en">
  <meta name="english-linking-policy" content="/policies/linking">
  <meta name="espanol-linking-policy" content="/espanol/politicas/enlaces">
  <meta name="dcterms.type" content="nciHome">
  <meta property="og:title" content="Comprehensive Cancer Information">
  <meta property="og:description" content="Accurate, up-to-date, comprehensive cancer information from the U.S. government's principal agency for cancer research.">
  <meta property="og:type" content="Website">
  <meta property="og:site_name" content="Vietnam National Cancer Institute">
  <meta name="twitter:card" content="summary">
  <title>Viện Ung thư Quốc gia</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', defer: 'defer' %>
</head>
<body id="Body1" class="ncihome" data-cde-contenttype="ncihome" data-cde-pagetemplate="NVCGHomePageTemplate" data-cde-templatetheme="default" data-cde-contentid="13019">
<div class="skip"><a title="Skip to content" href="#content">Skip to content</a></div>
<!-- NOTIFICATION AREA -->


<!-- END NOTIFICATION AREA -->

<!-- HEADER -->
<header class="push" role="banner">
  <div id="nvcgSlSiteBanner" class="row">
    <div class="contentid-911584 slot-item only-SI nci-logo-pages large-12 columns">

      <a href="/"><%= image_tag 'NCILogongang-2.png', alt: 'National Cancer Institute', width: '60%' %> </a>
    </div>
  </div>
</header>
<!-- END HEADER -->
<!-- Begin Page -->
<div id="page">
  <!-- Global nav/utilit bar/language  -->
  <div class="fixedtotop">
    <div class="headroom-area slide headroom--not-bottom headroom--top">
      <!-- LANGUAGE BAR -->
      <div class="language-bar">
        <div class="row sitewide-language">
          <div id="LangList1" class="large-12 columns">
            <ul>
              <li>
                <a onclick="NCIAnalytics.ClickLink(this,'Language Select Spanish');" href="https://www.cancer.gov/espanol">Español</a>
              </li>
            </ul>
          </div>
        </div>
      </div><!-- end "language-bar" -->
      <!-- END LANGUAGE BAR -->

    </div><!-- end "headroom-area" -->
    <!-- BEGIN NAVIGATION -->
    <!-- Begin nav-search bar -->
    <div class="nav-search-bar gradient header">
      <div id="nvcgSlMainNav" class="row">
        <div class="contentid-113330 slot-item first-SI">
          <div class="navigation">
            <div class="mobile-menu-bar">
              <button type="button" class="open-panel nav-header menu-btn">Menu</button>
              <a href="https://www.cancer.gov/global/contact" class="nav-contact">Contact</a><a href="https://www.cancer.gov/publications/dictionaries/cancer-terms" class="nav-dictionary">Dictionary</a>
              <button type="button" class="nav-search">Search</button>
            </div>
            <nav id="mega-nav" role="navigation">
              <ul class="menu nav-menu">
                <% if manage_category == 'about' %>
                  <li class="nav-item current-page lvl-1 has-children item-2">
                <% else %>
                  <li class="nav-item lvl-1 has-children item-2">
                <% end %>
                <div class="nav-item-title">
                  <a href="/about-us">Giới thiệu</a>
                </div>
                <ul class="mobile-item">
                  <li class="lvl-2">
                    <div class="nav-item-title">
                      <%= link_to "Giới thiệu chung", about_summary_path %>
                    </div>
                  </li>
                </ul>
                </li>
                <% if manage_category == 'type' %>
                  <li class="nav-item current-page lvl-1 has-children item-2">
                <% else %>
                  <li class="nav-item lvl-1 has-children item-2">
                <% end %>
                <div class="nav-item-title">
                  <a href="/types" id="accessible-megamenu-1526307612004-3" aria-haspopup="true" aria-controls="accessible-megamenu-1526307612004-4" aria-expanded="false" class="">Các
                    loại ung thư</a>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                <ul class="mobile-item">
                  <li class="lvl-2 has-children">
                    <div class="nav-item-title">
                      <a href="#">Các loại ung thư phổ biến</a>
                      <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                      </button>
                    </div>
                    <ul class="mobile-item">
                      <% CancerType.where(is_common: 1).first(3).each do |cancer_type| %>
                        <li class="lvl-3">
                          <div class="nav-item-title">
                            <%= link_to cancer_type.name, cancer_type_detail_path(id: cancer_type.id) %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                  <li class="lvl-2">
                    <div class="nav-item-title">
                      <%= link_to "Tất cả các loại ung thư (A-Z)", cancer_type_index_path %>
                    </div>
                  </li>
                </ul>
                <div aria-expanded="false" aria-haspopup="true" class="sub-nav-mega" id="accessible-megamenu-1526307612004-4" role="group" aria-hidden="true" aria-labelledby="accessible-megamenu-1526307612004-3">
                  <div class="sub-nav-group-wrapper">
                    <div class="sub-nav-group-subwrapper">
                      <ul class="sub-nav-group cancer-types-border-container">
                        <li><a href="#" class="sub-nav-group-header">Các loại ung thư phổ biến</a>
                          <% CancerType.where(is_common: 1).first(12).in_groups_of(4, false).each do |common_arr| %>
                            <ul>
                              <% common_arr.each do |cancer_type| %>
                                <li><%= link_to cancer_type.name, cancer_type_detail_path(id: cancer_type.id) %></li>
                              <% end %>
                            </ul>
                          <% end %>
                        </li>
                      </ul>
                      <ul class="sub-nav-group">
                        <li><a href="/types" class="sub-nav-group-header">Tất cả các loại ung thư</a>
                          <ul>
                            <li><a href="/types">Danh sách từ A-Z</a></li>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                </li>
                <% if manage_category == 'research' %>
                  <li class="nav-item current-page lvl-1 has-children item-3">
                <% else %>
                  <li class="nav-item lvl-1 has-children item-3">
                <% end %>
                <div class="nav-item-title">
                  <a href="/research" id="accessible-megamenu-1526307612015-5" aria-haspopup="true" aria-controls="accessible-megamenu-1526307612015-6" aria-expanded="false">Nghiên
                    cứu và đào tạo</a>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                <ul class="mobile-item">
                  <% ResearchCategory.all.each do |category| %>
                    <li class="lvl-2 has-children">
                      <div class="nav-item-title">
                        <%= link_to category.name, research_category_path(id: category.id) %>>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <div aria-expanded="false" aria-haspopup="true" class="sub-nav-mega mega-menu-scroll" id="accessible-megamenu-1526307612015-6" role="group" aria-hidden="true" aria-labelledby="accessible-megamenu-1526307612015-5">
                  <div class="sub-nav-group-wrapper">
                    <div class="sub-nav-group-subwrapper">
                      <% ResearchCategory.all.each do |category| %>
                        <ul class="sub-nav-group">
                          <li><%= link_to category.name, research_category_path(id: category.id), class: "sub-nav-group-header" %>
                          </li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                </li>
                <% if manage_category == 'news' %>
                  <li class="nav-item current-page lvl-1 has-children item-5">
                <% else %>
                  <li class="nav-item lvl-1 has-children item-5">
                <% end %>
                <div class="nav-item-title">
                  <a href="/news" id="accessible-megamenu-1526307612025-9" aria-haspopup="true" aria-controls="accessible-megamenu-1526307612025-10" aria-expanded="false">Tin
                    tức &amp;
                    Sự kiện</a>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                <% news_by_year = News.all.order(created_at: :desc)
                    .group_by {|news| news.created_at.year} %>
                <ul class="mobile-item">
                  <li class="lvl-2 has-children">
                    <div class="nav-item-title">
                      <a href="#">Sắp xếp theo năm</a>
                      <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                      </button>
                    </div>
                    <ul class="mobile-item">
                      <% news_by_year.keys.each do |year| %>
                        <li class="lvl-3">
                          <div class="nav-item-title">
                            <%= link_to year, news_filter_path(year: year) %>
                          </div>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                </ul>
                <div aria-expanded="false" aria-haspopup="true" class="sub-nav-mega" id="accessible-megamenu-1526307612025-10" role="group" aria-hidden="true" aria-labelledby="accessible-megamenu-1526307612025-9">
                  <div class="sub-nav-group-wrapper">
                    <div class="sub-nav-group-subwrapper">
                      <ul class="sub-nav-group">
                        <li>
                          <a href="#" class="sub-nav-group-header">Sắp xếp theo năm</a>
                          <ul>
                            <% news_by_year.keys.each do |year| %>
                              <li><%= link_to year, news_filter_path(year: year) %></li>
                            <% end %>
                          </ul>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                </li>
                <% if manage_category == 'person' %>
                  <li class="nav-item current-page lvl-1 has-children item-6">
                <% else %>
                  <li class="nav-item lvl-1 has-children item-6">
                <% end %>
                <div class="nav-item-title">
                  <a href="/person" id="accessible-megamenu-1526307612033-11" aria-haspopup="true" aria-controls="accessible-megamenu-1526307612033-12" aria-expanded="false">Nhân
                    sự</a>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                <ul class="mobile-item">
                  <% Leadership.all.each do |leadership| %>
                    <li class="lvl-2 has-children">
                      <div class="nav-item-title">
                        <%= link_to leadership.position, person_position_path(id: leadership.id) %>
                      </div>
                    </li>
                  <% end %>
                </ul>
                <div aria-expanded="false" aria-haspopup="true" class="sub-nav-mega mega-menu-scroll" id="accessible-megamenu-1526307612033-12" role="group" aria-hidden="true" aria-labelledby="accessible-megamenu-1526307612033-11">
                  <div class="sub-nav-group-wrapper">
                    <div class="sub-nav-group-subwrapper">
                      <% Leadership.all.each do |leadership| %>
                        <ul class="sub-nav-group">
                          <li><%= link_to leadership.position, person_position_path(id: leadership.id), class: "sub-nav-group-header" %>
                          </li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                  <button class="toggle" aria-expanded="false" type="button"><span class="hidden">Expand</span>
                  </button>
                </div>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="contentid-911752 slot-item last-SI">
          <div class="rawHtml">
            <div class="search" role="search">
              <form action="/search/results" method="post" id="siteSearchForm" name="siteSearchForm" onsubmit="NCIAnalytics.SiteWideSearch(this);">
                <label class="hidden" for="swKeyword">Search</label>
                <input placeholder="search" class="searchString ui-autocomplete-input" id="swKeyword" maxlength="255" name="swKeyword" onblur="bSearchBoxBool=false;" onfocus="bSearchBoxBool=true;" autocomplete="off" aria-autocomplete="list" aria-haspopup="true" type="text">
                <button class="searchSubmit" id="sitesearch" onclick="return siteSearchSubmit();" type="submit">
                  <span class="hidden">Search</span>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End nav-search bar -->

    <!-- END NAVIGATION -->
  </div>
  <div class="fixedtotop-spacer" style="display: none; width: 1907px; height: 116.6px; float: none;"></div><!-- END Global nav/utility bar/language -->
  <%= yield %>
</div> <!-- END Page -->

<!-- FOOTER -->
<footer class="site-footer">
  <div id="nvcgSlFooter">
    <div class="contentid-911586 slot-item only-SI">


      <div class="site-footer__container">
        <div class="site-footer__header">
          <h1>National Cancer Institute <span>at the National Institutes of Health</span></h1>
        </div>
        <div class="site-footer__nav">
          <div class="site-footer__icons">
            <h2>FOLLOW US</h2>
            <ul>
              <li>
                <a class="facebook icon" onclick="NCIAnalytics.FooterLink(this, 'Facebook');" href="https://www.cancer.gov/social-media#facebook">
                  <span class="hidden">Facebook</span> </a></li>
              <li>
                <a class="twitter icon" onclick="NCIAnalytics.FooterLink(this, 'Twitter');" href="https://www.cancer.gov/social-media#twitter">
                  <span class="hidden">Twitter</span> </a></li>
              <li>
                <a class="instagram icon no-exit-notification" onclick="NCIAnalytics.FooterLink(this, 'Instagram');" href="http://instagram.com/nationalcancerinstitute">
                  <span class="hidden">Instagram</span> </a></li>
              <li>
                <a class="youtube icon" onclick="NCIAnalytics.FooterLink(this, 'YouTube');" href="https://www.cancer.gov/social-media#youTube">
                  <span class="hidden">YouTube</span> </a></li>
              <li>
                <a class="googleplus icon" onclick="NCIAnalytics.FooterLink(this, 'Google+');" href="https://www.cancer.gov/social-media#google+">
                  <span class="hidden">Google+</span> </a></li>
              <li>
                <a class="linkedin icon" onclick="NCIAnalytics.FooterLink(this, 'LinkedIn');" href="https://www.cancer.gov/social-media#linkedIn">
                  <span class="hidden">LinkedIn</span> </a></li>
              <li>
                <a class="govdelivery icon" onclick="NCIAnalytics.FooterLink(this, 'GovDelivery');" href="https://public.govdelivery.com/accounts/USNIHNCI/subscriber/new">
                  <span class="hidden">GovDelivery</span> </a></li>
              <li>
                <a class="rss icon" onclick="NCIAnalytics.FooterLink(this, 'RSS');" href="https://www.cancer.gov/syndication/rss">
                  <span class="hidden">RSS</span> </a></li>
            </ul>
          </div>
          <div class="site-footer__contact">
            <h2>CONTACT INFORMATION</h2>
            <ul>
              <li><a onclick="NCIAnalytics.FooterLink(this, 'Contact Us');" href="https://www.cancer.gov/contact">Contact
                Us</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'LiveHelp Chat'); window.open('https://livehelp.cancer.gov', 'LiveHelp','scrollbars=yes,resizable=yes,menubar=yes,toolbar=yes,location=yes,width=650,height=600'); return false;" href="https://livehelp.cancer.gov/">LiveHelp
                  Online Chat</a></li>
            </ul>
          </div>
          <div class="site-footer__info">
            <h2>MORE INFORMATION</h2>
            <ul>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'About Website');" href="https://www.cancer.gov/about-website">About
                  This Website</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Cancer.gov en Espanol');" href="https://www.cancer.gov/espanol">Cancer.gov
                  en español</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Multimedia');" href="https://www.cancer.gov/multimedia">Multimedia</a>
              </li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Publications');" href="https://www.cancer.gov/publications">Publications</a>
              </li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Site Map');" href="https://www.cancer.gov/about-website/sitemap">Site
                  Map</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Digital Standards');" href="https://www.cancer.gov/digital-standards">Digital
                  Standards for NCI Websites</a></li>
            </ul>
          </div>
          <div class="site-footer__policies">
            <h2>POLICIES</h2>
            <ul>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Accessibility');" href="https://www.cancer.gov/policies/accessibility">Accessibility</a>
              </li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Comments');" href="https://www.cancer.gov/policies/comments">Comment
                  Policy</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Disclaimer');" href="https://www.cancer.gov/policies/disclaimer">Disclaimer</a>
              </li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'FOIA');" href="https://www.cancer.gov/policies/foia">FOIA</a>
              </li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Privacy and Security');" href="https://www.cancer.gov/policies/privacy-security">Privacy &amp;
                  Security</a></li>
              <li>
                <a onclick="NCIAnalytics.FooterLink(this, 'Reuse');" href="https://www.cancer.gov/policies/copyright-reuse">Reuse &amp;
                  Copyright</a></li>
              <li><a onclick="NCIAnalytics.FooterLink(this, 'Syndication');" href="https://www.cancer.gov/syndication">Syndication
                Services</a></li>
              <li><a onclick="NCIAnalytics.FooterLink(this, 'Linking');" href="https://www.cancer.gov/policies/linking">Website
                Linking</a></li>
            </ul>
          </div>
        </div>
        <div class="site-footer__agencies">
          <ul>
            <li><a onclick="NCIAnalytics.FooterLink(this, 'HHS');" href="http://www.hhs.gov/">U.S. Department of Health
              and Human Services</a></li>
            <li><a onclick="NCIAnalytics.FooterLink(this, 'NIH');" href="http://www.nih.gov/">National Institutes of
              Health</a></li>
            <li><a onclick="NCIAnalytics.FooterLink(this, 'NCI');" href="https://www.cancer.gov/">National Cancer
              Institute</a></li>
            <li><a onclick="NCIAnalytics.FooterLink(this, 'USA.gov');" href="http://usa.gov/">USA.gov</a></li>
          </ul>
        </div>
        <div class="site-footer__tagline">
          <h4>NIH ... Turning Discovery Into Health <sup>®</sup></h4>
        </div>
        <a class="back-to-top" href="#top">TOP</a></div>

    </div>
  </div>
</footer>
<!-- END FOOTER -->

<!-- TO INSERT WEB ANALYTICS CODE. Every template should have this
control else Web analytics scripts will not show up in the HTML-->

<!-- ***** NCI Web Analytics - DO NOT ALTER ***** -->
<!--<script language="JavaScript" type="text/javascript" src="Comprehensive%20Cancer%20Information%20-%20National%20Cancer%20Institute_files/wa_wcms_pre.js"></script>-->
<!--<script language="JavaScript" type="text/javascript">-->
<!--
var s_account = AnalyticsMapping.GetSuites("nciglobal,ncienterprise");
-->
<!--</script>-->
<!--<script language="JavaScript" type="text/javascript" src="Comprehensive%20Cancer%20Information%20-%20National%20Cancer%20Institute_files/NCIAnalyticsFunctions.js"></script>-->
<!--<script language="JavaScript" type="text/javascript" src="Comprehensive%20Cancer%20Information%20-%20National%20Cancer%20Institute_files/s_code.js"></script>-->
<div id="SI_blNAE3KoV3SLMWh"><!--DO NOT REMOVE-CONTENTS PLACED HERE--></div>
<!--END SITE INTERCEPT-->


<ul id="ui-id-1" tabindex="0" class="ui-menu ui-widget ui-widget-content ui-front ui-autocomplete sitewide-search-menu" style="display: none;"></ul>
<div role="status" aria-live="assertive" aria-relevant="additions" class="ui-helper-hidden-accessible"></div>
</body>
</html>
